$mobilewidth: 480px;

.dropdown-infos {
  font: Montserrat;
  color: #ff6060;
  padding: 25px;

  font-size: 24px;
  font-weight: 400;
  margin-left: 15px;

  @media screen and (max-width: $mobilewidth) {
    background-color: #f7f7f7;

    font-size: 12px;
    padding: 18px;
    margin: 0;
  }
}

.rotate {
  transform: rotate(180deg);
  transition: 0.05s ease-in-out;
}

.dropDowntab {
  margin-top: 31px auto auto auto;
  align-items: center;
}
