
.dropDownTitleDiv{
 
    background-color:"#FF6060" ;
    position: relative;
    display: flex;
    background-color: #FF6060;
    align-items: center;
    font-size: 18px;
    height: 52px;
    width: 95%;
    padding-left: 20px;
    border-radius: 10px;
    color: white;
    justify-content: space-between;
    margin: auto;
}
.dropdown-infos{
    padding: 25px;
    color: #FF6060;
    
    width: 80%;
   font-size: 24px;
   font: Montserrat;
   font-weight: 400;


}
.rotate{
    transform: rotate(180deg)
}


.NavText:hover{
    text-decoration: underline;
}
.dropDowntab{
   margin-top: 31px;
}
.Description{
    width: 50%;
}
.Equipments{
    width: 50%;
}