$mobilewidth: 480px;
.header {
  display: flex;
  font-family: Montserrat;

  margin: 40px auto 40px auto;

  text-decoration: none;
  height: 68px;
  top: 40px;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;

  @media screen and (max-width: $mobilewidth) {
    margin: 0;
    margin-bottom: 16px;
    font-size: 24px;
    height: 47px;

    border-radius: 10px;
    padding: 0;
  }
}

.NavText:hover {
  text-decoration: underline;
}

.NavText {
  padding-left: 57px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 165.6%;
  /* or 34px */
  align-items: flex-end;
  text-align: right;
  color: #ff6060;
  text-decoration: none;

  @media screen and (max-width: $mobilewidth) {
    font-size: 12px;
    padding-left: 10px;
  }
}

.logo {
  @media screen and (max-width: $mobilewidth) {
    width: 145px;
    font-size: 12px;
  }
}
