
._SectionImage{
   

    max-width: 1240px;
    width: auto;
    height: 223px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;    
    color:white;
    font-size: 48px;
    background: #a8a8a8;
    border-radius: 25px;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    
}
