._SectionImage {
  max-width: 1240px;
  width: auto;
  height: 223px;
  margin-bottom: 43px;
  color: white;
  font-size: 48px;
  background: #a8a8a8;
  border-radius: 25px;
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;

  @media screen and (max-width: 480px) {
    height: 111px;
    width: auto;
    font-size: 24px;
    border-radius: 10px;
    padding: 0px 102px 0px 16px;
    margin-bottom: 10px;
  }
}
