
.List{
    margin-top: 10px;
    // background: #ebebeb;
border-radius: 25px;
    
}
.listThumb{
    list-style-type: none;
    
    justify-content: center;
    
    display: flex;
    flex-wrap: wrap;
    max-width: 1240px;
}