


.body{
    height: 100%;
    margin-bottom: 200px;
}


.infos-appart{
color: #FF6060;

}
.arrow{
    position: absolute;
    right: 1rem;
}


.dropDownTitleDiv{
    position: relative;
    display: flex;
    background-color: #FF6060;
    align-items: center;
    font-size: 18px;
    height: 47px;
    width: auto;
    margin-right:15px ;
    padding-left: 20px;
    border-radius: 10px;
    color: white;
    justify-content: space-between;
      
    
    @media screen and (max-width: 480px){
        margin-top: 10px;
        font-size: 13px;
        height: 30px;
        padding-left: 10px;
    
    }
}




.dropdown-infos{

    width: 550px;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: center;
    font-size: 18px;
}



.allAbouts{
   
    margin: auto;
  
    width: 80%;
}

.info-section1{
    display: flex;
    justify-content: space-between;


    @media screen and (max-width: 480px){
                
        flex-direction: column;
        
     }
    
}
.section-title-tags{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    @media screen and (max-width: 768px){
        margin:0px 30px 25px 30px;
        
        flex-direction: column;
        
     }
   
}
.info-section2{
    margin-top: 30px;

}
.rating{
    font-size: xxx-large;
}

.Host{
    display: flex;
    margin: 15px;
    align-items: center;

}
.hostPic{
    height: 64px;
    width: 64px;
    object-fit: cover;
    border-radius: 50%;
    
}
.hostName{
    font-size: x-large;
    
    width: 100px;
}


.title{
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 0px;
}
.infos-chambre{
    display: flex;
    @media screen and (max-width: 480px){

        flex-direction: column;
        
     }
    
}

.Description{
    width: 50%;
    font-size: 18px;
    
    padding-right: 30px;

    @media screen and (max-width: 480px){
        width: 90%;
        
     }

}

.Equipments{
    width: 50%;
    padding-left: 30px;
    
    
    
    @media screen and (max-width: 480px){
        width: 90%;

        
     }
}


.tags{
    display: flex;
    justify-content: center;
    align-items: center
}
.tag{
    font-size: 14px;
    background-color: #FF6060;
    color: white;
    height: 25px;
    padding: 5px 5px 0px 5px ;
    margin-right: 20px;
    border-radius: 10px;

}