$mobilewidth: 480px;
.show404 {
  color: #ff6060;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
._404 {
  font-size: 288px;
  font-weight: 700;

  @media screen and (max-width: $mobilewidth) {
    margin-top: 200px;
    font-size: 96px;
  }
}

.p {
  font-weight: 500;
  font-size: 36px;

  @media screen and (max-width: $mobilewidth) {
    text-align: center;
    font-size: 18px;
  }
}

.a {
  color: #ff6060;

  @media screen and (max-width: $mobilewidth) {
    margin-top: 133px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
  }
}
