.header{

	display: flex;
	font-family: Montserrat;
	padding-top: 40px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 40px;
	text-decoration: none;
	height: 68px;
	top: 40px;
	justify-content: space-between;
	align-items: center;

	
}


.NavText{
padding-left: 20px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 165.6%;
/* or 34px */
align-items: flex-end;
text-align: right;
color: #FF6060;
text-decoration: none;
}


.logo {  
	height: 45px;
	width: 45px;
}